/* Modified Gihub Gist scheme for highlight.js */
.hljs{display:block;background:#eeeeee;padding:.5em;color:#333;overflow-x:auto}.hljs-comment,.hljs-meta{color:#888}.hljs-emphasis,.hljs-quote,.hljs-string,.hljs-strong,.hljs-template-variable,.hljs-variable,.hljs-keyword,.hljs-selector-tag,.hljs-type{color:#f47b20}.hljs-attribute,.hljs-bullet,.hljs-literal,.hljs-symbol{color:#0086b3}.hljs-name,.hljs-section{color:#63a35c}.hljs-tag{color:#333}.hljs-attr,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-title,.hljs-number{color:#795da3}.hljs-addition{color:#55a532;background-color:#eaffea}.hljs-deletion{color:#bd2c00;background-color:#ffecec}.hljs-link{text-decoration:underline}

/* Fonts and sizes */
@font-face { font-family:LatinModernMono; font-weight:normal; font-style:normal; src:url(fonts/lmmono10-regular.otf) }
@font-face { font-family:LatinModernMono; font-weight:normal; font-style:italic; src:url(fonts/lmmono10-italic.otf) }
@font-face { font-family:LatinModern; font-weight:normal; font-style:normal; src:url(fonts/lmsans10-regular.otf) }
@font-face { font-family:LatinModern; font-weight:normal; font-style:italic; src:url(fonts/lmsans10-oblique.otf) }
@font-face { font-family:LatinModern; font-weight:bold; font-style:normal; src:url(fonts/lmsans10-bold.otf) }
@font-face { font-family:LatinModern; font-weight:bold; font-style:italic; src:url(fonts/lmsans10-boldoblique.otf) }

body { font-size: 0.6831cm; font-family: LatinModern; line-height: 1.2; }
p { margin-top: 0; margin-bottom: .4em; }
h1, h2, h3, h4 { font-weight: bold; margin-top: .7cm; margin-bottom: .2em }
h1 { font-size: 1.5em; } h2 { font-size: 1.33em; } h3 { font-size: 1.1em } h4 { font-size: 1em }
ul, ol { margin-top: .5em; margin-bottom: .5em; }
ul ul, ul ol, ol ul, ol ol, h1 + ul, h1 + ol, h2 + ul, h2 + ol, h3 + ul, h3 + ol, h4 + ul, h4 + ol { margin-top: 0; }
li p + ul, li p + ol { margin-top: -.5em; }
code, pre { font-family: LatinModernMono; margin-top: .5em; margin-bottom: .5em }
.katex { font-size: 1.1em; }

/* Backgrounds */
@media screen {
.slimd-presentation { background-image: url(images/background.jpg); background-size: 100% 100%; }
.slimd-presentation.backgroundless { background-image: none; }
}
@media print {
.slimd-slide { background-image: url(images/background.jpg); background-size: 100% 100%; -webkit-print-color-adjust: exact; }
.slimd-presentation.backgroundless .slimd-slide { background-image: none; }
}

/* Slide layout */
.slimd-ufal-header {
  position: absolute; overflow: hidden; width: 27.95cm; height: 1cm; padding: 0cm 1.5cm .25cm .25cm;
  background-color: #dddddd80; background-image: url(images/ufal.svg); background-repeat: no-repeat;
  background-size: 1.20cm .95cm; background-position: 28.35cm 50%;
}
.slimd-ufal-header p {
  font-size: 1.4em; font-weight: bold; color: #f47b20; margin: 0;
}
.slimd-ufal-content {
  position: absolute; overflow: hidden; top: 1.25cm; width: 27.3cm; height: 13.75625cm; padding: .5cm 1.2cm .5cm 1.2cm;
}
.slimd-ufal-content-inner { width: 100%; height: 100% }
.slimd-ufal-content-inner > h1:first-child, .slimd-ufal-content-inner > h2:first-child,
.slimd-ufal-content-inner > h3:first-child, .slimd-ufal-content-inner > h4:first-child {
  margin-top: 0;
}
.slimd-ufal-footer {
  position: absolute; top: 16.00625cm; width: 29.7cm; height: .7cm;
  font-size: .7em;
}
.slimd-ufal-footer .slimd-ufal-footer-title { display: inline-block; height: .6cm; padding: .01cm .35cm .09cm .35cm; background-color: #f47b20; }
.slimd-ufal-footer .slimd-ufal-footer-title p { font-weight: bold; color: #fff; margin: 0 }
.slimd-ufal-footer .slimd-ufal-footer-section { display: inline-block; height: .6cm; padding: .05cm .5cm 0 .5cm; }
.slimd-ufal-footer .slimd-ufal-footer-section p { font-size: .8em; margin: 0; color: #888; }
.slimd-ufal-footer .slimd-ufal-footer-section-active p { color: #000 !important; }
.slimd-ufal-footer .slimd-ufal-slide-number { float: right; height: .6cm; padding: .01cm .3cm .09cm .3cm }

/* Default/center/right classes */
.slimd-slide.center .slimd-ufal-content { text-align: center; }
.slimd-slide.right .slimd-ufal-content { text-align: right; }
/* Default/middle/bottom classes */
.slimd-slide.middle .slimd-ufal-content, .slimd-slide.bottom .slimd-ufal-content { display: table; table-layout: fixed; }
.slimd-slide.middle .slimd-ufal-content-inner { display: table-cell; vertical-align: middle; }
.slimd-slide.bottom .slimd-ufal-content-inner { display: table-cell; vertical-align: bottom; }
/* Default/wide classes */
.slimd-slide.wide .slimd-ufal-content { width: 29.7cm; padding-left: 0; padding-right: 0; }

/* Title slide */
.slimd-slide.title .slimd-ufal-content h1:first-of-type {
  font-size: 2.5em; margin-top: 1em; font-weight: bold; color: #f47b20;
  height: 2.5em;
}
.slimd-slide.title .slimd-ufal-content h2:first-of-type {
  font-size: 1.1em;
  height: 2em;
}
.slimd-slide.title .slimd-ufal-content h3:first-of-type {
  font-size: 1em;
  display: inline-block;
  padding: .15em .4em .3em 1.5em;
  border-radius: .5em;
  background-color: #dddddd80; background-image: url(images/calendar.svg); background-repeat: no-repeat;
  background-size: .87em .8em; background-position: .4em 50%;
}
.slimd-slide.title .slimd-ufal-footer { top: 13.20625cm; height: 3.5cm; background-color: #dddddd80; }
.slimd-slide.title .slimd-ufal-footer-logos {
  display: inline-block; vertical-align: middle; width: 14cm; height: 3.5cm;
  background-image: url(images/cuni.svg), url(images/ufal.svg), url(images/langtech.svg), url(images/opvv.svg);
  background-repeat: no-repeat;
  background-size: 2.2cm 2.2cm, 2.8cm 2.2cm, 3cm 2.2cm, 3.5cm 2.2cm;
  background-position: .6cm 50%, 3.4cm 50%, 6.6cm 50%, 10.2cm 50%;
}
.slimd-slide.title .slimd-ufal-footer-school {
  display: inline-block; vertical-align: top; width: 9cm; padding: .9cm .5cm 0 .5cm;
}
.slimd-slide.title .slimd-ufal-footer-school::before {
  content: "Charles University in Prague\A Faculty of Mathematics and Physics\A Institute of Formal and Applied Linguistics";
  white-space: pre;
}
.slimd-slide.title.cc-by-nc-sa .slimd-ufal-footer-license, .slimd-slide.title.cc-by-sa .slimd-ufal-footer-license {
  display: inline-block; vertical-align: top; width: 5cm; height: 1.2cm; padding: 2.3cm 0 0 0; text-align: center;
  background-repeat: no-repeat; background-size: 3.42cm 1.2cm; background-position: 50% 1cm;
}
.slimd-slide.title.cc-by-nc-sa .slimd-ufal-footer-license { background-image: url(images/by-nc-sa.eu.svg) }
.slimd-slide.title.cc-by-sa .slimd-ufal-footer-license { background-image: url(images/by-sa.svg) }

.slimd-slide.title .slimd-ufal-footer-license::before { content: "unless otherwise stated"; }

/* Image references */
.slimd-image-reference {
  font-size: .5em;
  text-align: right;
  line-height: 1em;
  vertical-align: top;
  font-style: italic;
  color: #f47b20;
}

/* Tables */
table { line-height: 1.5; border-spacing: 0; border-collapse: collapse }
td, th { padding: .25em; border: 1px solid #999 }
th { background-color: #e9470080 }
table tr:nth-of-type(even) {background-color: #ccc8 }

.slimd-slide.tablewide table { width: 100% }
.slimd-slide.tablehigh table { height: 100% }
.slimd-slide.tablefull table { width: 100%; height: 100% }

/* Other presentation sizes */
.slimd-presentation.a4 .slimd-ufal-header { padding: 1cm 1.2cm 1.25cm .55cm; background-image: none }
.slimd-presentation.a4 .slimd-ufal-content { top: 3.85cm }
.slimd-presentation.a4 .slimd-ufal-footer { top: 19.3cm }
.slimd-presentation.a4 .slimd-ufal-footer-title { padding-top: .51cm; padding-bottom: .59cm; }
.slimd-presentation.a4 .slimd-ufal-slide-number { padding-top: .51cm; }
.slimd-presentation.a4 .slimd-slide.title .slimd-ufal-footer { top: 17.5cm; height: 3.5cm; background-color: #dddddd80; }

.slimd-presentation.m43 .slimd-ufal-header { padding: 1.5cm 1.2cm 1.75cm .55cm; background-image: none }
.slimd-presentation.m43 .slimd-ufal-content { top: 5cm }
.slimd-presentation.m43 .slimd-ufal-footer { top: 20.575cm }
.slimd-presentation.m43 .slimd-ufal-footer-title { padding-top: .51cm; padding-bottom: .59cm; }
.slimd-presentation.m43 .slimd-ufal-slide-number { padding-top: .51cm; }
.slimd-presentation.m43 .slimd-slide.title .slimd-ufal-footer { top: 18.775cm; height: 3.5cm; background-color: #dddddd80; }
